.event-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.event-title {
  margin-bottom: 5px;
  font-size: 18px;
}

.event-name {
  font-weight: bold;
}

.due-date {
  color: #555;
}

.event-container button {
  background-color: green;
  color: white;
  border-radius:5px;
  cursor: pointer;
  margin-left: 5px;
}

.event-container select {
  border-radius: 5px;
  padding: 8px;
  margin-left: 5px;
}