.assignments-container {
    margin: 40px;
    padding-top: 60px;
    font-family: Arial, sans-serif;
  }

.canvas-assignments {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align items vertially*/
}
  h2 {
    margin-bottom: 5px;
    margin-right: 10px;
  }

button {
  cursor: pointer;
}

.update-all-btn {
  background-color: #28a745;
  color: white;
}

.update-all-btn:hover {
  background-color: #218838;
}
  