.assignments-container {
    margin: 30px;
    padding-top: 60px;
    font-family: Arial, sans-serif;
  }

.canvas-assignments {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align items vertially*/
}
  h2 {
    margin-bottom: 5px;
    margin-right: 10px;
  }

button {
  cursor: pointer;
}

.update-all-btn {
  background-color: #008f21;
  color: white;
  font-size:16px;
}

.update-all-btn:hover {
  background-color: #005f15;
}

.calendar-id-input {
  margin-top: 10px;
  width: 480px;
  height: 25px;
  font-size: 14px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
}

.calendar-id-submit-btn {
  background-color: #d10000;
  color: white;
  font-size:14px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
}

.calendar-id-submit-btn:hover {
  background-color: #a00000;
}
  