.container {
    margin: 30px;
    margin-top:120px;
}

.calendar-select {
    width: 300px;
    height: 35px;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(167, 167, 167);
  }