.event-container {
  border: 1px solid #ccc;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.edited-container {
  border: 2px solid #ccc;
  margin-top: 20px;
  border-radius: 8px;
  border-color: red;
  background-color: #f9f9f9;
}

.event-title {
  margin:0px;
  font-size: 20px;
}

.event-name {
  font-weight:bold;
  font-size:20px;
}

.due-date {
  margin-bottom: 15px;
}

button {
  padding: 10px 10px;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

select {
  padding: 8px;
  border-color: rgb(170, 170, 170);
  border-radius: 5px;
  margin-right: 10px;
}

/* Adjust styles for the update button */
button[type="submit"] {
  background-color: #008f21;
  color:white;
}

button[type="submit"]:hover {
  background-color: #005f15;
}

.undo-changes-btn {
  background-color: #dd2e2e;
  color: white;
}

.undo-changes-btn:hover {
  background-color: #ad2424;
  color: white;
}

.complete-assignment-btn {
  background-color: #008f21;
  color: white;
}

.complete-assignment-btn:hover {
  background-color: #005f15;
  color: white;
}

.event-banner {
  background-color: rgb(212, 212, 212);
  color: black;
  padding:20px 20px 20px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin:0px;
}

.event-details {
  padding:0px 0px 20px 20px;
  margin: 0px;
}

.add-reminder-input {
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(170, 170, 170);
}

.add-reminder-btn {
  background-color: #0169d8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-reminder-btn:hover {
  background-color: #004c9e;
  color: white;
}

ul {
  list-style-type:circle;
  padding: 0px;
  margin: 0px 10px;
}

.reminder-label{
  margin-top:15px;
  margin-bottom: 10px;
}
