.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e40000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .left-section {
    display: flex;
    align-items: center;
    margin-left: 10px
  }
  
  .right-section {
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin-right:30px;
  }
  
  .logo {
    width: 200px;
    height: 70px;
    object-fit: cover;
    margin: 0px;
    padding: 0px;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .google-image {
    margin: 0px;
    padding: 0px;
    width: 200px;
    height: 44px;
  }
  
  .profile-name {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: black;
  }

  .buttons {
    display: flex;
    align-items: center;
  }
  
  .login-btn {
    background-color: white;
    margin: 0px;
    padding: 0px;
    border: none;
    cursor: pointer;
    font-weight: bold
  }

  .logout-btn {
    margin-left: 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }



  